body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

/* -------------------------------------------------- */

.main-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.8fr 2fr 1fr;
  grid-template-areas: 
  "lives title title"
  "solution solution solution"
  "letters form buttons";
}

/* -------------------------------------------------- */

.life-bar-container {
  /* background-color: red; */
  grid-area: lives;
}

.life-bar-container h3 {
  font-size: 30px;
  padding: 20px;
  margin: 0px;
}

.lives-container img {
  height: 8vh;
}

/* -------------------------------------------------- */

.title-container {
  /* background-color: blue; */
  grid-area: title;
  font-size: 30px;
  padding-left: 55px;
  margin: 0;
}

/* -------------------------------------------------- */

.solution-container {
  /* background-color: green; */
  grid-area: solution;
  display: flex;
  justify-content: center;
  align-items: center;
}

#letter-box {
  display: flex;
  width: 60%;
  height: 60%;
  justify-content: space-evenly;
  align-items: center;
}

#letter-box div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  background-color: black;
}

/* -------------------------------------------------- */

.letter-container {
  /* background-color: yellow; */
  grid-area: letters;
  padding-left: 30px;
  height: 300px;
}

.letter-container p {
  font-size: 30px;
  padding-left: 30px;
  background-color: #99c5f1;
  text-align: center;
  border-radius: 30px;
  font-weight: 600;
}

/* -------------------------------------------------- */

.form-container {
  /* background-color: red; */
  grid-area: form;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#form-text {
  padding: 0;
  border: 0;
  height: 60px;
  width: 60px;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  background-color: rgb(200, 200, 200);
}

#submit-button {
  padding: 0;
  border: 0;
  height: 60px;
  width: 160px;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(200, 200, 200);
  transition: 0.4s;
}

#submit-button:hover {
  color: white;
  background-color: rgb(70, 70, 70);
  cursor: pointer;
}

/* -------------------------------------------------- */

.button-container {
  /* background-color: blue; */
  grid-area: buttons;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#start-button, #hint-button {
  height: 200px;
  width: 200px;
  border: none;
  border-radius: 100px;
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  color: white;
  transition: 0.4s;
}

#start-button {
  background-color: rgb(11, 196, 11);
}

#start-button:hover {
  background-color: rgb(9, 138, 9);
  cursor: pointer;
}

#start-button:active {
  background-color: rgb(88, 255, 88);
  transition: 0.1s;
}

#hint-button {
  background-color: rgb(38, 174, 238);
}

#hint-button:hover {
  background-color: rgb(26, 120, 163);
  cursor: pointer;
}

#hint-button:active {
  background-color: rgb(125, 214, 255);
  transition: 0.1s;
}

/* -------------------------------------------------- */